# Private environment variables
# Rename to .env and DON'T commit to your public repo
# 
# When using heroku, set these variables like so:
# heroku config:set FOO_NAME=foo_value BAR_NAME=bar_value
#
# When using heroku, set NODE_ENV as production instead:
# heroku config:set NODE_ENV=production
# 
NODE_ENV=development
MONGOHQ_URL=mongodb://user:password@host:27017/database
SENDGRID_PASSWORD=password
SENDGRID_USERNAME=username
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=secret
