<% extend 'layout.html' %>

<!-- Styles & Scripts -->
<link href=/styles/style.css rel=stylesheet>
<script src=/scripts/lib/modernizr.min.js></script>
<script src=/scripts/script.js></script>

<!-- And so it begins... -->
<body>

<header role=banner>
  <div class=container>
    <h1><a href=#>Ness &hearts; Jon</a></h1>
    <a href=# class=menu></a>
    <nav role=navigation>
      <ul>
        <li><a href=#story class=our-story>Our Story</a>
        <li><a href=#wedding class=wedding>Wedding</a>
        <li><a href=#registry class=registry>Registry</a>
        <li><a href=#rsvp class=rsvp>RSVP</a>
      </ul>
    </nav>
  </div>
</header>

<div role=main>
  <header>
    <div class=container>

      <div class=logo>
        <figure class=bride></figure>
        <figure class=groom></figure>
      </div>

      <!-- <div class=logo> -->
      <!--   <img class=main width=992 height=500 src=/images/nessjon.png> -->
      <!--   <img class=left width=496 height=500 src=/images/bride.png> -->
      <!--   <img class=right width=496 height=500 src=/images/groom.png> -->
      <!-- </div> -->
    </div>
  </header>

  <div class=container>

    <section id=story>
      <h2>Our Story</h2>
      <p>Welcome to our wedding website! We look forward to celebrating our special day with you. 
    </section>

    <section id=wedding>
      <h2>Schedule of Events for July 6, 2013</h2>
      <p>2 pm: Wedding ceremony begins. This formal service is held outdoors in the Zoo Gardens north of the Enmax Conservatory. Please arrive 15-20 minutes prior. If it is raining, the ceremony will be held inside the Safari Lodge.
      <p>3-5 pm: Zoo-time! While the wedding party has photos taken, the guests have two hours to enjoy the zoo.
      <p>5 pm: Dinner reception begins at the Safari Lodge.  Dance to follow.
    </section>

    <section id=parking>
      <h2>Parking</h2>
      <p>Use the July 6 Zoo Pass you received with your invitation. Each pass allows one person to enter the zoo free of charge.  Please keep these with you as you may be asked to show them at the reception. Please note that pets are not permitted entry at the Calgary Zoo.
    </section>

    <section id=zoo>
      <h2>Zoo Entry</h2>
      <p>North Lot:<br>The main zoo parking lot and entrance is located off St. George’s Drive, just north of Memorial Drive with zoo access through the north gate. A $7.00 daily parking fee is in effect. 
    </section>

    <section id=dress>
      <h2>Dress Considerations</h2>
      <p>The wedding is formal, and we invite you to dress in style! Zoo-themed clothing welcomed! However, as this is an outdoor wedding, we do encourage guests to bring comfortable footwear for walking, and to bring extra clothing in case of rain.
    </section>

    <section id=map>
      <h2>Zoo Details and Maps</h2>
      <p>For a map of the Calgary zoo, directions, and any other zoo-related inquiries you may have, please visit the Calgary Zoo website at <a href="http://www.calgaryzoo.ca/">http://www.calgaryzoo.ca/</a>
    </section>

    <section id=accommodations>
      <h2>Accommodations</h2>
      <p>Guests are responsible for arranging their own accommodations and transportation. We encourage making these arrangements early.
    </section>

    <section id=registry>
      <h2>Registry</h2>
      <p>We are registered for wedding gifts at Home Outfitters, and Mountain Equipment Co-op. Registry gifts can be purchased in stores, or online. Follow the links below to view registry items under Jonathan and Janessa Suderman. Alternately, we are pleased to accept monetary gifts. 
    </section>

    <section id=rsvp>
      <h2>RSVP</h2>
      <p>Please indicate whether you plan to attend by no later than April 30, 2013.
    </section>

  </div>
</div>

<footer role=contentinfo>
  <div class=container>
      <div class="hero">
        <ul>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/two.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/one.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/two.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/three.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/four.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/five.jpg"></figure>
          <li>
            <dl class=countdown rel="2013-07-06 14:00">
              <dd><figure></figure><figcaption>Days</figcaption>
              <dd><figure></figure><figcaption>Hours</figcaption>
              <dd><figure></figure><figcaption>Mins</figcaption>
            </dl>
            <figure><img src="/images/six.jpg"></figure>
        </ul>

      </div>
    <nav>
      <a href="#">Sitemap</a> / <a href="#">Contact Information</a>
    </nav>
    <div class=credits>  
      © 2013 duct-taped together by jon suderman
    </div>
  </div>
</footer>
