/*!
nessjon.com (2013-03-29)
Janessa and Jonathan's Wedding Website

*/
/*!
// [base.less]
// Styles and mixins collected by Jon Suderman 2013
// --> another highly recommended mixin library: https://github.com/CSSHat/LESSHat
//
//                                   ,.=,,==. ,,_
//                  _ ,====, _    |I|`` ||  `|I `|
//                 |`I|    || `==,|``   ^^   ``  |
//                 | ``    ^^    ||_,===TT`==,,_ |
//                 |,==Y``Y==,,__| \L=_-`'   +J/`
//                  \|=_  ' -=#J/..-|=_-     =|
//                   |=_   -;-='`. .|=_-     =|----T--,
//                   |=/\  -|=_-. . |=_-/^\  =||-|-|::|____
//                   |=||  -|=_-. . |=_-| |  =|-|-||::\____
//                   |=LJ  -|=_-. . |=_-|_| =||-|-|:::::::
//                   |=_   -|=_-_.  |=_-     =|-|-||:::::::
//                   |=_   -|=//^\. |=_-     =||-|-|:::::::
//               ,   |/&_,_-|=||  | |=_-     =|-|-||:::::::
//            ,--``8%,/    ',%||  | |=_-     =||-|-|%::::::
//        ,---`_,888`  ,.'''''`-.,|,|/!,--,.&\|&\-,|&#:::::
//       |;:;K`__,...;=\_____,=``           %%%&     %#,---
////////////////////////////////////////////////////////////////////////
*/ .clearfix:before,.clearfix:after{display:table;content:""}.clearfix:after{clear:both}@-webkit-viewport{width:device-width}@-moz-viewport{width:device-width}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html{background:#fff;font-size:62.5%;height:100%;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:#bfbfbf;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{position:relative;margin:0;padding:0;min-width:320px;width:100%;min-height:100%;color:#000;background-color:transparent;font-family:sans-serif;line-height:1.5em;font-size:16px;font-size:1.6rem}img{max-width:100%}